/resources/images/test/
/resources/images/train/
/resources/models/*
!/resources/models/*/pipeline.config
/resources/annotations/train.record
/resources/annotations/test.record
/resources/annotations/label_map.pbtxt
/models/
/.idea/
/resources/pre-trained-models/
/src/__pycache__/
