/resources/images/test/
/resources/images/train/
/resources/models/*
!/resources/models/*/pipeline.config
/egele/*
/models/*
/resources/annotations/train.record
/resources/annotations/test.record
/resources/annotations/label_map.pbtxt
/models/
/.idea/
/resources/pre-trained-models/
/__pycache__/
/resources/images/FACES/
*.tmp
